{% extends 'base_generic.html' %}
{% block title %}Моя лента{% endblock title %}
{% block content %}

    <h1>Лента новостей</h1>

    {% if ribbon %}
<ul>
    {% for item in ribbon %}

        {% if item.author.subscribe.all %}

            {% if item.published %}

            <li>

                {{ item.published }}
                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                от {{ item.author.user.username }}

                {% if request.user not in item.read_by.all %}
                    <small>Не прочитано</small>
                {% else %}
                    <small>Прочитано</small>
                {% endif %}

            </li>

            {% endif %}

        {% endif %}

    {% endfor %}
</ul>

{% else %}
<p>Вы не подписались ни на одного автора...</p>
{% endif %} {% endblock content %}